@model List<Producto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Solicitudes de compra</h1>

    <button class="btn btn-dark" onclick="listView()"><i class="fa fa-bars"></i> Lista</button>
    <button class="btn btn-dark" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
    </p>

    <div class="row">
        @if (Model.Count == 0)
        {
            <p style="text-align:center;">Nada por mostrar</p>
        }
        @foreach (var item in Model.Where(x => x.FechaRegistro > DateTime.Now.AddDays(-7)).ToList())
        {
            <div class="column">
                <img src="@Url.Content(item.Url)" class="card-img-top" width=100px>
                <h2>@item.Nombre</h2>
                <p><b>Precio: </b> PEN @item.Precio</p>
                <p><b>Lugar: </b> @item.Lugar</p>
                <p><b>Nro. de contacto: </b>@item.Telefono</p>
                <p><b>Fecha de solicitud: </b>@item.FechaRegistro.ToShortDateString()</p>
                 <p><b>User: </b>@item.Usuario</p>
            </div>
        }
    </div>
</div>
